:root {
  --title-color: #2d2f2f;
  --text-color: #5a5c5c;
  --active-color: #8d4a00;
  --accent-color: #fdd34d;
  --accent-orange: #fe973c;
  --badge-color: #5c4900;
  --main-color: #ffffff;
  --hero-bg: radial-gradient(
    85.61% 61.6% at 50% 50%,
    rgba(253, 211, 77, 0.15) 0%,
    rgba(253, 211, 77, 0) 70%
  );
  --gradient-accent: linear-gradient(90deg, #8d4a00 0%, #fe973c 100%);
  --btn-text: #fff0e7;
}

body {
  font-family: "Space Grotesk", sans-serif;
}

.container {
  width: 1212px;
  margin: 0 auto;
  padding: 0 15px;
  outline: 1px solid red;
}

/* header */

.header {
  padding-top: 24px;
  padding-bottom: 24px;
}

.header .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header-logo {
  color: var(--title-color);
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 32px;
  letter-spacing: -1.2px;
  text-decoration: none;
}

.header-list {
  display: flex;
  gap: 40px;
  list-style: none;
  margin: 0;
  padding: 0;
}

.header-link {
  font-family: "Space Grotesk", sans-serif;
  position: relative;
  display: inline-block;
  color: var(--text-color);
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 1.42px;
  text-transform: uppercase;
  text-decoration: none;

  font-family: "Space Grotesk";
}

.header-link::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -5px;
  width: 100%;
  height: 2px;
  border-radius: 2px;
  background-color: var(--accent-orange);
  transform: scaleX(0);
  transform-origin: left;
  transition: transform 250ms ease;
}

.header-link:hover::after,
.header-link:focus::after {
  transform: scaleX(1);
}

.header-btn {
  color: var(--btn-text);
  font-size: 12px;
  font-weight: 700;
  line-height: 16px;
  letter-spacing: 1.2px;
  text-transform: uppercase;
  padding: 12px 32px;
  border-radius: 9999px;
  background: var(--active-color);
  border: none;
}

/* hero */

.hero {
  padding-top: 165px;
  padding-bottom: 169px;
  background: var(--hero-bg);
}

.hero-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 40px;
}

.hero-content {
  max-width: 670px;
}

.hero-label {
  font-family: "Be Vietnam Pro";
  color: var(--badge-color);
  display: inline-block;
  margin-bottom: 32px;
  border-radius: 999px;
  background-color: var(--accent-color);
  font-size: 12px;
  padding: 6px 16px;
  font-weight: 700;
  letter-spacing: 1.2px;
  text-transform: uppercase;
}

.hero-title {
  align-self: stretch;
  color: var(--title-color);
  font-size: 120px;
  font-weight: 700;
  line-height: 117px;
  letter-spacing: -6.4px;
  margin-bottom: 32px;
}

.hero-accent {
  font-weight: 700;
  background: var(--gradient-accent);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  color: transparent;
}

.hero-text {
  max-width: 500px;
  margin-bottom: 48px;
  color: var(--text-color);
  font-family: "Be Vietnam Pro";
  font-size: 24px;
  font-style: normal;
  font-weight: 300;
  line-height: 32px;
}

.hero-actions {
  display: flex;
  align-items: flex-start;
  gap: 24px;
  align-self: stretch;
}

.hero-btn {
  display: flex;
  padding: 20px 40px;
  align-items: center;
  gap: 12px;
  border-radius: 9999px;
  justify-content: center;
  text-align: center;
  font-size: 14px;
  font-weight: 700;
  line-height: 20px;
  letter-spacing: 1.4px;
  text-transform: uppercase;
  height: 60px;
}

.hero-arrow img {
  width: 16px;
  height: 16px;
  display: block;
}

.hero-primary {
  background-color: var(--active-color);
  color: var(--btn-text);
}

.hero-secondary {
  background-color: var(--main-color);
  color: var(--title-color);
}

.hero-img {
    position: relative;
    left: -15px;
  display: block;
  max-width: 100%;
  height: auto;
  flex-shrink: 0;
}